.activity-log {
  font-size: 2rem;
  margin-top: 20px;
  color: dimgrey;
  text-shadow: 1px 1px 3px #c3c3c3;

  .correct-answers {
    text-align: center;
    line-height: 71px;
    vertical-align: middle;
  }

  .total-questions {
    text-align: center;
    line-height: 71px;
    vertical-align: middle;
  }

  .score {
    text-align: center;
    font-size: 5rem;
  }
}
