.inline-block {
  display: inline-block;
}

.inline-list {
  padding: 0;
}

.answer-building {
  margin: 1rem 0 1rem;
}

.answer-result {
  margin: 1rem 0 2rem;
}

.answer-container {
  margin: 0 auto;
  padding: 15px;
  background-color: #f9f9f9;
  max-width: 676px;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.18);
  border-radius: 2px;

  .characters-place {
    padding: 5rem 0;
  }
  .character {
    width: 40px;
    height: 40px;
    line-height: 30px;
    font-size: x-large;
    background-color: #59baf1;
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.43);
    border-radius: 3px;
    padding: 0.3rem 0.8rem;
    margin: 0.3rem 0.4rem;
    box-shadow: 1px 1px 3px 0 #ccc;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: #72c4f3;
    }

  }
  .space-as-character {
    margin: -1.2rem 0.4rem;
    width: 80px;
    margin-top: 10px;
  }
  .success-character {
    background-color: rgb(146, 243, 102);
    color: #1a6608;

    &:hover {
      background-color: rgb(146, 243, 102);
      color: #1a6608;
    }
  }
  .failure-character {
    background-color: #e60000;
    color: #FFFFFF;

    &:hover {
      background-color: #e60000;
      color: #FFFFFF;
    }
  }
}

.success-answer {
  border: 1px solid rgb(78, 183, 76);
  background-color: rgba(146, 243, 102, 0.1);
}

.failure-answer {
  border: 1px solid indianred;
  background-color: rgba(205, 92, 92, 0.1);
}
