.inline-block {
  display: inline-block;
}

.answer-building {
  margin: 1rem 0 1rem;
}

.answer-result {
  margin: 1rem 0 2rem;
}

.answer-container {
  margin: 0 auto;
  max-width: 676px;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.18);
  border-radius: 2px;

  .characters-place {
    padding: 7rem 0;
  }
  .character {
    width: 40px;
    height: 40px;
    background-color: #FFF;
    border: 1px solid rgba(128, 128, 128, 0.43);
    padding: 0.3rem 0.8rem;
    margin: 0.3rem 0.4rem;
    box-shadow: 1px 1px 3px 0 #ccc;
    font-weight: 600;
    color: rgba(51, 46, 46, 0.58);
    cursor: pointer;

    &:hover {
      color: rgba(0, 0, 0, 0.58);
    }
  }
  .space-as-character {
    margin: -2.09rem 0.4rem;
  }
}

.success-answer {
  border: 1px solid rgb(78, 183, 76);
}

.failure-answer {
  border: 1px solid indianred;
}
