.next-question {
  color: red;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
  background-color: rgb(78, 183, 76);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  height: 40px;
  box-shadow: 5px 1px 15px #888888;
  vertical-align: middle;
  line-height: 40px;
  text-transform: uppercase;
  font-size: large;
  font-weight: bold;
  color: mintcream;

  &:hover {
    background-color: #81cc7f;
  }

  &:active {
    background-color: #348033;
    transform: translateY(2px);
  }
}
