.next-question {
  margin: 1rem auto;
  padding: 0.35rem 0;
  max-width: 676px;
  background-color: rgb(78, 183, 76);
  border-radius: 2px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
