.main-page {
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

  min-height: 700px;

  @import './main/progress-message.scss';
  @import './main/continue-quiz.scss';
  @import './main/answer.scss';
  @import './main/skip-question.scss';
  @import './main/loader.scss';
  @import './main/error-message.scss';
  @import './main/activity-log.scss';
  @import './main/question-info.scss';
}
